<div class="card shadow">
  <h1 class="card-header text-center">
    <%= @post.title %>
  </h1>

  <div class="card-body">
    <p class="card-text">
      <%= @post.body %>
    </p>
  </div>

  <div class="card-footer text-muted text-center">
    <small>Submitted <%= time_ago_in_words(@post.created_at) %> ago.</small>
  </div>
</div>